__pycache__
*.pyc
*.pyo
node_modules
.elixir_ls
_build
.aider*

vim/.vim/.netrwhist

emacs/.config/emacs/copilot-chat
emacs/.config/emacs/.cache/
emacs/.config/emacs/eln-cache/
emacs/.config/emacs/elpa/
emacs/.config/emacs/transient/
emacs/.config/emacs/tree-sitter/
emacs/.config/emacs/undo-fu-session/
emacs/.config/emacs/url/
emacs/.config/emacs/custom.el
emacs/.config/emacs/history
emacs/.config/emacs/places
emacs/.config/emacs/projects
emacs/.config/emacs/recentf
emacs/.config/emacs/tramp

evil-emacs/.config/emacs/copilot-chat
evil-emacs/.config/emacs/.cache/
evil-emacs/.config/emacs/eln-cache/
evil-emacs/.config/emacs/elpa/
evil-emacs/.config/emacs/transient/
evil-emacs/.config/emacs/tree-sitter/
evil-emacs/.config/emacs/undo-fu-session/
evil-emacs/.config/emacs/url/
evil-emacs/.config/emacs/custom.el
evil-emacs/.config/emacs/history
evil-emacs/.config/emacs/places
evil-emacs/.config/emacs/projects
evil-emacs/.config/emacs/recentf
evil-emacs/.config/emacs/tramp

emacs-max/.config/emacs/copilot-chat
emacs-max/.config/emacs/.cache/
emacs-max/.config/emacs/eln-cache/
emacs-max/.config/emacs/elpa/
emacs-max/.config/emacs/transient/
emacs-max/.config/emacs/tree-sitter/
emacs-max/.config/emacs/undo-fu-session/
emacs-max/.config/emacs/url/
emacs-max/.config/emacs/custom.el
emacs-max/.config/emacs/history
emacs-max/.config/emacs/places
emacs-max/.config/emacs/projects
emacs-max/.config/emacs/recentf
emacs-max/.config/emacs/tramp

helix/.config/helix/runtime

qutebrowser/.config/qutebrowser/qsettings
qutebrowser/.config/qutebrowser/autoconfig.yml
qutebrowser/.config/qutebrowser/quickmarks
