# Helix GPT
[language-server.gpt]
command = "helix-gpt"

# Copilot language server
[language-server.copilot]
command = "copilot-language-server"
args = ["--stdio"]

[language-server.copilot.config]
editorInfo = { name = "Helix", version = "25.07.1" }
editorPluginInfo = { name = "helix-copilot", version = "0.1.0" }

# Elixir
[[language]]
name = "elixir"
language-servers = ["elixir-ls", "gpt", "copilot"]

[[language]]
name = "heex"
language-servers = ["elixir-ls", "tailwindcss-ls", "gpt", "copilot"]

# Rust
[language-server.rust-analyzer.config.check]
command = "clippy"

[language-server.rust-analyzer.config.cargo]
features = "all"

[[language]]
name = "rust"
language-servers = ["rust-analyzer", "gpt", "copilot"]

# Go
[[language]]
name = "go"
auto-format = true
formatter = { command = "goimports" }
language-servers = ["gopls", "golangci-lint-lsp", "gpt", "copilot"]

# PHP
[language-server.phpactor]
command = "phpactor"
args = ["language-server"]

[[language]]
name = "php"
language-servers = ["phpactor", "gpt", "copilot"]

# SQL
[language-server.sql-language-server]
command = "sql-language-server"
args = ["up", "--method", "stdio"]

[[language]]
name = "sql"
language-servers = ["sql-language-server", "gpt", "copilot"]

# Python
[language-server.basedpyright.config.python.analysis]
typeCheckingMode = "basic"

[language-server.ruff]
command = "ruff"
args = ["server"]

[[language]]
name = "python"
language-servers = ["pyright", "ruff", "gpt", "copilot"]

# Ruby
[language-server.ruby-lsp]
command = "ruby-lsp"
config = { diagnostics = true, formatting = true }

[[language]]
name = "ruby"
language-servers = ["ruby-lsp", "gpt", "copilot"]

# HTML, CCS, JavaScript, TypeScript, JSX, and TSX
[language-server]
biome = { command = "biome", args = ["lsp-proxy"] }

[[language]]
name = "javascript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
  "tailwindcss-ls",
  "gpt",
  "copilot",
]

[[language]]
name = "typescript"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
  "tailwindcss-ls",
  "gpt",
  "copilot",
]

[[language]]
name = "jsx"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
  "tailwindcss-ls",
  "gpt",
  "copilot",
]

[[language]]
name = "tsx"
language-servers = [
  { name = "typescript-language-server", except-features = [
    "format",
  ] },
  "biome",
  "tailwindcss-ls",
  "gpt",
  "copilot",
]

[[language]]
name = "html"
language-servers = [
  { name = "vscode-html-language-server", except-features = [
    "format",
  ] },
  "biome",
  "tailwindcss-ls",
  "gpt",
  "copilot",
]

[[language]]
name = "css"
language-servers = [
  { name = "vscode-css-language-server", except-features = [
    "format",
  ] },
  "biome",
  "tailwindcss-ls",
  "gpt",
  "copilot",
]

# JSON, TOML and YAML
[[language]]
name= "json"
language-servers = [
  { name = "vscode-json-language-server", except-features = [
    "format",
  ] },
  "biome",
  "gpt",
  "copilot",
]

[[language]]
name = "toml"
formatter = { command = "taplo", args = ["fmt", "-"] }
language-servers = ["taplo", "gpt", "copilot"]

[language-server.yaml-language-server.config.yaml]
format = { enable = true }
validation = true

[[language]]
name = "yaml"
language-servers = ["yaml-language-server", "gpt", "copilot"]

# Markdown
[language-server.iwe]
command = "iwes"

[[language]]
name = "markdown"
language-servers = ["iwe", "gpt", "copilot"]
auto-format = true
